<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

</head>
<body>
    <style>
        td {
            padding: 5px;
            font-size: 20px;
        }
    </style>
    <h1>USERS DETAILS</h1>
    <table border="1">
        <td colspan="12">
    
       {% for users in data.data %}
           email: {{ users.email }}<br>
           role : {{  users.role }}<br>
           gender: {{ users.gender }}<br>
           mobile: {{ users.mobile }}<br>
           ___________________________________________<br>
        {% endfor %}
        </td>
    </table>

</body>
</html>